# enable sm8450 base configs
CONFIG_ARCH_QCOM=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_DRM_DISPLAY_DP_AUX_CEC=y
CONFIG_DRM_DISPLAY_DP_AUX_CHARDEV=y
CONFIG_FB_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_M31_USB=y
CONFIG_PHY_QCOM_M31_EUSB=y
CONFIG_PHY_QCOM_USB_HS=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_INTERCONNECT_QCOM_SM8450=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_DRM=y
CONFIG_TYPEC=y

# enable OnePlus 10 Pro configs
CONFIG_DRM_PANEL_SAMSUNG_S6E3HC3=m

# disable unused
CONFIG_ACPI=n
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_AIROHA=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_ARTPEC=n
CONFIG_ARCH_AXIADO=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BLAIZE=n
CONFIG_ARCH_BST=n
CONFIG_ARCH_CIX=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ATA=n
CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_POWERVR=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_PANFROST=n
CONFIG_DRM_PANTHOR=n
CONFIG_DRM_PL111=n
CONFIG_DRM_TIDSS=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_BLK_DEV_NVME=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_CHROME_PLATFORMS=n
